dashboard/flows.json
[
    {
        "id": "180c375fa8104f77",
        "type": "tab",
        "label": "SmartMDBController",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eebf607c5f9dcf73",
        "type": "ui_button",
        "z": "180c375fa8104f77",
        "name": "",
        "group": "452e50fd47b44d54",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Reset MDB",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "reset",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "a8d65d70316ac40f"
            ]
        ]
    },
    {
        "id": "60b4f37ff8dc75c5",
        "type": "ui_text",
        "z": "180c375fa8104f77",
        "group": "452e50fd47b44d54",
        "order": 21,
        "width": 11,
        "height": 1,
        "name": "",
        "label": "MDB Response",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "c1efa2b4deb0104b",
        "type": "mqtt in",
        "z": "180c375fa8104f77",
        "name": "",
        "topic": "smartvend/mdbResponse",
        "qos": "0",
        "datatype": "auto",
        "broker": "ad4ddf12.bd2a58",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "60b4f37ff8dc75c5"
            ]
        ]
    },
    {
        "id": "6a5247b25b5d49fc",
        "type": "ui_button",
        "z": "180c375fa8104f77",
        "name": "",
        "group": "452e50fd47b44d54",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Get MDB State",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "mdb-state",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "a8d65d70316ac40f"
            ]
        ]
    },
    {
        "id": "a8d65d70316ac40f",
        "type": "mqtt out",
        "z": "180c375fa8104f77",
        "name": "",
        "topic": "smartvend/data",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ad4ddf12.bd2a58",
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "e566d201d0d72317",
        "type": "ui_button",
        "z": "180c375fa8104f77",
        "name": "",
        "group": "452e50fd47b44d54",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Invoke Vend",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "invokevend",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "6b473625caaeb56b"
            ]
        ]
    },
    {
        "id": "f1150c3b2decc2d3",
        "type": "ui_button",
        "z": "180c375fa8104f77",
        "name": "",
        "group": "452e50fd47b44d54",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Cancel Vend Session",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "cancel-session",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 700,
        "wires": [
            [
                "a8d65d70316ac40f"
            ]
        ]
    },
    {
        "id": "d84b2ac85f835ead",
        "type": "ui_button",
        "z": "180c375fa8104f77",
        "name": "",
        "group": "452e50fd47b44d54",
        "order": 11,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Start Session",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "start-session",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 780,
        "wires": [
            [
                "3226f2379a2e9147"
            ]
        ]
    },
    {
        "id": "380e5ed0e8651813",
        "type": "ui_text_input",
        "z": "180c375fa8104f77",
        "name": "",
        "label": "Item Number, Amount",
        "tooltip": "",
        "group": "452e50fd47b44d54",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "57d9245f6aa31120"
            ]
        ]
    },
    {
        "id": "630321a3ca88ff93",
        "type": "debug",
        "z": "180c375fa8104f77",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 680,
        "wires": []
    },
    {
        "id": "57d9245f6aa31120",
        "type": "change",
        "z": "180c375fa8104f77",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "invokevend",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "6b473625caaeb56b",
        "type": "function",
        "z": "180c375fa8104f77",
        "name": "getValue",
        "func": "var v = flow.get(\"invokevend\");\nif(v.includes(\",\")){\n    var g=v.split(\",\");\n    var pl=\"invokevend \"+g[0]+\" \"+g[1];\n    msg.payload=pl;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 580,
        "wires": [
            [
                "630321a3ca88ff93",
                "a8d65d70316ac40f"
            ]
        ]
    },
    {
        "id": "86092d9e860a9781",
        "type": "ui_text_input",
        "z": "180c375fa8104f77",
        "name": "",
        "label": "Session Amount",
        "tooltip": "",
        "group": "452e50fd47b44d54",
        "order": 13,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 840,
        "wires": [
            [
                "36fc2d9b61013067"
            ]
        ]
    },
    {
        "id": "36fc2d9b61013067",
        "type": "change",
        "z": "180c375fa8104f77",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sessionamount",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "3226f2379a2e9147",
        "type": "function",
        "z": "180c375fa8104f77",
        "name": "getValue",
        "func": "var v = flow.get(\"sessionamount\");\n\n    var pl=\"start-session \"+v;\n    msg.payload=pl;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 780,
        "wires": [
            [
                "630321a3ca88ff93",
                "a8d65d70316ac40f"
            ]
        ]
    },
    {
        "id": "a32cf1fe60d1f013",
        "type": "ui_text_input",
        "z": "180c375fa8104f77",
        "name": "",
        "label": "Approve Vend Amount",
        "tooltip": "",
        "group": "452e50fd47b44d54",
        "order": 17,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 260,
        "y": 960,
        "wires": [
            [
                "2fee179674f8ad47"
            ]
        ]
    },
    {
        "id": "fa6461f7234c1173",
        "type": "ui_button",
        "z": "180c375fa8104f77",
        "name": "",
        "group": "452e50fd47b44d54",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Approve Vend",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "approve-vend",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 900,
        "wires": [
            [
                "c5e390b133107a21"
            ]
        ]
    },
    {
        "id": "c5e390b133107a21",
        "type": "function",
        "z": "180c375fa8104f77",
        "name": "getValue",
        "func": "var v = flow.get(\"approvevend\");\n\n    var pl=\"approve-vend \"+v;\n    msg.payload=pl;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "2fee179674f8ad47",
        "type": "change",
        "z": "180c375fa8104f77",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "approvevend",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "677707e5599d86c5",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "60c12031132693f5",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "4e21e901b5b17a2c",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b44798e0fc46833",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "265c6839ae605921",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 10,
        "width": 11,
        "height": 1
    },
    {
        "id": "7afd8b4a8f11a533",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "c13c9ca02ec4053c",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "2e89c52a2a084d58",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "6eac8dfa9f4aac5a",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "a8b12534d76fa0b6",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 19,
        "width": 17,
        "height": 1
    },
    {
        "id": "80aedbc9c31cfc6c",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "b6ebf8dad93967ba",
        "type": "ui_spacer",
        "z": "180c375fa8104f77",
        "name": "spacer",
        "group": "452e50fd47b44d54",
        "order": 22,
        "width": 3,
        "height": 1
    },
    {
        "id": "452e50fd47b44d54",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "51e736fe983ace71",
        "order": 1,
        "disp": true,
        "width": 17,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad4ddf12.bd2a58",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "12312312412412",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "51e736fe983ace71",
        "type": "ui_tab",
        "name": "SmartMDBController",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]